Repository MatiPl01/react-native-sortables, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, test, ci, dependencies

.github/labeler.yml:

# Documentation changes
'documentation':
  - changed-files:
      - any-glob-to-any-file: ['packages/docs/**', 'README.md']

# Example applications
'example':
  - changed-files:
      - any-glob-to-any-file: ['example/**']

# Test files
'test':
  - changed-files:
      - any-glob-to-any-file:
          [
            '**/*.test.*',
            '**/*.spec.*',
            '**/__tests__/**',
            '**/tests/**',
            '**/__mocks__/**'
          ]

# CI/CD changes
'ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', '**/workflows/**']

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          [
            '**/package.json',
            '**/yarn.lock',
            '**/package-lock.json',
            '**/pnpm-lock.yaml'
          ]

Change expo dep version to prevent expo-doctor from complaining
  example/expo/package.json
  example/web/package.json
  yarn.lock
Labels: example, dependencies

ci: Expo app build CI failure caused by expo-doctor (#489)
  example/expo/package.json
  example/web/package.json
  yarn.lock
Labels: example, dependencies

Bump actions versions to latest
  .github/workflows/build-examples.yml
  .github/workflows/code_quality_checks.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/unused-code-check.yml
Labels: ci

Add more concurrency where possible
  .github/workflows/build-examples.yml
  .github/workflows/code_quality_checks.yml
  package.json
  yarn.lock
Labels: ci, dependencies

Add emojis to code quality check jobs
  .github/workflows/code_quality_checks.yml
Labels: ci

ci: Optimize workflows execution time and bump actions to latest (#490)
  .github/workflows/build-examples.yml
  .github/workflows/code_quality_checks.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/unused-code-check.yml
  package.json
  yarn.lock
Labels: ci, dependencies

Improve labeler action
  .github/actions/pr-title-labeler/index.js
  .github/workflows/build-examples.yml
Labels: ci

Another attempt to make checking if the label is added by the current action correct
  .github/actions/pr-title-labeler/index.js
Labels: ci

Another attempt
  .github/actions/pr-title-labeler/index.js
Labels: ci

Another attempt
  .github/actions/pr-title-labeler/index.js
Labels: ci
